@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;

    --bg-white: #EDF1FF;
    --section-purple: #8A4FFF;
    --black: #000000;
    --white: #ffffff;
    --section-dark-blue: #273043;
    --header-border: #A8A8A8;
    --radial-gradient1: #47BDFD;
    --radial-gradient2: #4B30F5;
    --angular-gradent1-blue: #4B30F5;
    --angular-gradent2-blue:#47BDFD;
    --angular-gradent1-purple:#8A4FFF;
    --angular-gradent2-purple:#38299A;
}